@model (string returnUrl, string login, string errorMessage)
@{
	Layout = "_Layout";
}

<div class="row">
	<div id="content" class="col-sm-12">
		<div class="row">
			<div style="padding-top: 100px;">&nbsp;</div>
		</div>
		<div class="row">
			<div class="b-login b-box offset-sm-3 col-sm-6 col-xs-9">
				<div class="row">
					<h1 class="b-title offset-sm-2 col-sm-8">Вход</h1>
				</div>
				<div class="col-sm-8 offset-sm-2">
					<form asp-action="Login" method="post">
						<div class="form-group row">
							<input name="login" type="text" size="20" placeholder="Логин" class="form-control" maxlength="255" value="@Model.login" alt="Имя пользователя">
						</div>
						<div class="form-group row">
							<input name="password" type="password" size="20" placeholder="Пароль" class="form-control" maxlength="99" alt="Пароль">
						</div>
						<input type="hidden" name="returnUrl" value="@Model.returnUrl" />
						@if(Model.errorMessage != null)
						{
							<div class="alert alert-danger text-center" role="alert" style="margin-bottom: .5em;">@Model.errorMessage</div>
						}
						<div class="form-group row">
							<input type="submit" value="Войти" alt="Войти" class="btn btn-primary btn-block">
						</div>
					</form> 
				</div>
			</div>
		</div>
	</div>
</div>
