.booster-grid h2 {
	margin-bottom: 25px;
}
.booster-grid .pagination {
	margin-bottom: 0;
}
.booster-grid .pagination li a {
	width: 40px;
	text-align: center;
	padding: 6px 0 4px 0;
}

.booster-grid table.table {
	margin-bottom: 0;
}
.booster-grid table.table th input[role="select-all"] {
    margin-top: 0;
    vertical-align: text-bottom;
}
.booster-grid table.table td input[role="select-row"] {
    margin-top: 1px;
}
.booster-grid table.table th[data-sort] {
	cursor: pointer;
	cursor: hand;
}

.booster-grid table.table .controls {
	width: 75px; 
	text-align: center;
}

.booster-grid table.table tr th.handle {
	width: 10px;
	border-right: none;
	padding: 0;
}
.booster-grid table.table tr td.handle {
	color:  transparent;
	border-right-color: transparent;
	cursor: move;
	width: 10px;
	padding: 0;
	text-align: center;
	vertical-align: middle;
}
.booster-grid table.table tr:hover td.handle {
	color: inherit;
	border-right-color: #ddd;
	background-color: #eaeaea;
}
.booster-grid table.table tr .firstCell {
	border-left-color: transparent;	
} 

.booster-grid .curtain {
	position: absolute;
	background-color: #fff;
	opacity: 0.6;
	filter: alpha(opacity=60);
	background-image: url("../images/throbber.gif");
	background-repeat: no-repeat;
	display: none;
	z-index: 999;
}

.booster-grid .drag-object {
	position:absolute; 
	z-index: 9999;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.booster-grid .drag-object table {
	border: 0;
}

.booster-grid .drop-area2 td {
	border: 1px dashed #5af;
	padding: 0px;
}

.booster-grid .drop-area td {
	background-color: #fff !important;
	border-left-color: #fff;
	border-right-color: #fff;

	border-top: 2px dashed #5af;
	border-bottom: 2px dashed #5af;
	padding-bottom: 4px;
	padding-top: 4px;
}

/*.booster-grid .drop-area td .wrapper {
	margin-top: -1px;
	margin-bottom: -1px;
}*/
.booster-grid .drop-area-ie td {
	padding-top: 4px;
}

.booster-grid .drop-area td * {
	visibility: hidden;
}
.booster-grid .drop-area td:first-child {
	border-left: 2px dashed #5af;
	padding-left: 4px;
}
.booster-grid .drop-area td:last-child {
	border-right: 2px dashed #5af;
	padding-right: 4px;
}

.booster-grid tr.drop-area:first-child td {
	padding-top: 5px;	
}

.booster-grid .width-preserver td {
	color: transparent;
	background-color: transparent !important;
	border-color: #fff;
	border-top-width: 0 !important;
	border-bottom-width: 0 !important;
	padding-top: 0;
	padding-bottom: 0;
}

.booster-grid .width-preserver td * {
	visibility: hidden;
	overflow: hidden;
	height: 0;
}
