.intPicker.input-group .input-group-addon a.spin-up,
.intPicker.input-group .input-group-addon a.spin-down
{
	height: 10px;
	width: 10px;
	font-size: 14px;
	overflow: hidden;
	display: block;
	text-align: center;
	text-decoration: none;
	position: relative;
	color: #999;
}
.intPicker.input-group .input-group-addon a.spin-down .fa
{
	position: relative;
	top: -4px;
}
.intPicker.input-group .input-group-addon a.spin-up:hover,
.intPicker.input-group .input-group-addon a.spin-down:hover
{
	color: #555;
}
.intPicker.input-group input
{
	/*text-align: center;*/
}

.intPicker.input-group.input-group-lg .input-group-addon a.spin-up,
.intPicker.input-group.input-group-lg .input-group-addon a.spin-down
{
	font-size: 16px;
	height: 12px;
}
.intPicker.input-group.input-group-sm .input-group-addon a.spin-up,
.intPicker.input-group.input-group-sm .input-group-addon a.spin-down
{
	font-size: 12px;
	height: 9px;
}
