/*region form-horizontal*/
.form-horizontal .form-group-sm > div:first-child
{
	padding-top: 1px;
	padding-right: 0;
	font-weight: normal !important;
	color: #888 !important;
	text-align: right;
}

.form-horizontal .form-group-sm .control-label
{
	padding-top: 1px;
	font-weight: normal !important;
	color: #333 !important;
}

.form-horizontal .form-group-sm
{
	/*margin-bottom: 10px !important;*/
	margin-bottom: 0px !important;
	padding-bottom: 5px !important;
	padding-top: 5px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.input-sm, .form-horizontal .form-group-sm .form-control
{
	height: 24px !important;
	padding: 2px 5px !important;
	line-height: 1em !important;
	font-size: 12px !important;
	border-radius: 3px !important;
}

.input-sm, .form-horizontal .form-group-sm .input-group .form-control
{
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.form-horizontal .form-group-sm .input-group .input-group-btn .btn-sm
{
	height: 24px !important;
	padding: 2px 5px !important;
	border-top-right-radius: 3px !important;
	border-bottom-right-radius: 3px !important;
}

/*endregion*/

.nobr
{
	white-space: nowrap;
}

a.openTab
{
	padding-right: 25px !important;
}

button.closeTab
{
	position: absolute;
	right: 10px;
	top: 0;
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	background-color: transparent;
	line-height: 12px;
	color: #777 !important;
}

button.danger, a.danger
{
	color: #ddd;
	margin-top: 2px;
	margin-right: .5em;
	height: 100%;
}

button.danger:hover, a.danger:hover
{
	color: #d9534f !important;
}

.radio-slim
{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.nav-tabs > li.active > a > button, .nav-tabs > li > a > .label
{
	display: inline;
}

.nav-tabs > li > a > button, .nav-tabs > li.active > a > .label
{
	display: none;
}

.active > a > .badge
{
	background-color: #fff !important;
}

.focusedInput
{
	border-color: #ccc;
	border-color: rgba(82, 168, 236, .8);
	outline: 0; /*outline: thin dotted \9;*/
	-webkit-box-shadow: 0 0 8px rgba(82, 168, 236, .6);
	box-shadow: 0 0 8px rgba(82, 168, 236, .6);
}

.nav-tabs li.active a
{
	outline: 0 !important;
}

/*region select2*/

.select2-container .select2-choice .select2-arrow b
{
	background-position: 0 -2px !important;
}

.select2-container .select2-choice
{
	height: 22px !important;
	padding: 5px 0 0 8px !important;
	line-height: 1em !important;
	margin: -2px -5px !important;
}

.col-sm-6 div + input
{
	padding: 0 0 0 0 !important;
}

/*endregion*/

/*region badge colors expander */
.bg_primary
{
	background-color: #337ab7 !important;
	color: #ffffff !important;
}

.bg_success
{
	background-color: #dff0d8 /*#5cb85c*/ !important;
}

.bg_info
{
	background-color: #d9edf7 /*#5bc0de*/ !important;
}

.bg_warning
{
	background-color: #fcf8e3 /*#f0ad4e*/ !important;
}

.bg_danger
{
	background-color: #f2dede /*#d9534f*/ !important;
}

.table > thead > tr > td.primary, .table > tbody > tr > td.primary, .table > tfoot > tr > td.primary, .table > thead > tr > th.primary, .table > tbody > tr > th.primary, .table > tfoot > tr > th.primary, .table > thead > tr.primary > td, .table > tbody > tr.primary > td, .table > tfoot > tr.primary > td, .table > thead > tr.primary > th, .table > tbody > tr.primary > th, .table > tfoot > tr.primary > th
{
	background-color: #337ab7 !important;
	color: #fff;
}
/*endregion*/

/*region navbar*/
.navbar-nav > li > a {
	border-right: 1px solid rgba(51, 51, 51, 0.2);
	border-left: 1px solid rgba(231, 231, 231, 0.1);
}

.navbar-nav > li:first-child > a {
	border-left: 1px solid rgba(51, 51, 51, 0.2);
}




/*endregion*/

/*region body/container*/
.container {
	padding-top: 20px;
	background-image: url(../img/logo_100.png);
	background-repeat: no-repeat;
	background-position: 15px 5px;
	/*background-color: #eee;*/
}

body {
	padding-top: 0 !important;
	background-color: #eee;
}

/*endregion*/

.navbar-default 
{
	background-image: url(../img/bg_white_85.png) !important;
	background-repeat: repeat !important;
	background-color: transparent !important;
	
}

.table tbody > tr > td, .table thead > tr > th 
{
	background-color: #fff;
}

.nav-tabs 
{
	border-bottom-color: #ccc !important;
}

.nav-tabs > .active > a
{
	background-color: #ddd !important;
	/*color: #31708f !important;*/
	border-color: #ccc !important;
	border-bottom-color: #ddd !important;
 
	
}

.tab-pane {
	border-right: 1px solid #ccc !important;
	border-bottom: 1px solid #ccc !important;
	border-left: 1px solid #ccc !important;
	background-color: #ddd;
	padding-top: .5em;
	padding-bottom: .5em;
}

.col-bg-white 
{
	/*background-color: #fff;*/
	background-image: url(../img/bg_white_85.png) !important;
	background-repeat: repeat !important;
	background-color: transparent !important;
	border-radius: 4px;
	padding-top: .5em;
	padding-bottom: .5em;
}

.col-bg-white h3 {
	margin-left: 8px;
}

.query-form legend
{
	/*background-color: #eee !important;
	display: block;*/
	padding-left: 1em;
	border-bottom: 1px solid #ccc !important;
}

/*region testArrow*/
/*.queryArrow*/
/*{*/
/*content: "";*/
/*top: 30%;*/
/*left: -1px;*/
/*margin-top: -1px;*/
/*box-sizing: border-box;*/
/*border-width: 11px;*/
/*border-right-width: 0;*/

/*position: absolute;*/
/*display: block;*/
/*width: 0;*/
/*height: 0;*/
/*border-color: transparent;*/
/*border-style: solid;*/
/*box-sizing: border-box;*/
/*border-width: 11px;*/
/*border-right-width: 0;*/
/*border-left-color: #999;*/
/*border-left-color: rgba(0,0,0,.1);*/
/*}*/

/*.queryArrow:after*/
/*{*/
/*position: absolute;*/
/*left: -11px;*/
/*bottom: -10px;*/
/*content: " ";*/
/*display: block;*/
/*width: 0;*/
/*height: 0;*/
/*border-color: transparent;*/
/*border-style: solid;*/
/*box-sizing: border-box;*/
/*border-width: 10px;*/
/*border-right-width: 0;*/
/*border-left-color: #fff;*/
/*}*/
/*endregion*/